<!--COMP900024 Cluster and Cloud Computing-->
<!--Assignment 2-->
<!--Author: Group 3-->
<!--Team Member :-->
<!--JINGLING ZHOU 888137-->
<!--XIAOYUE MA 878899-->
<!--CHENGENG LIU 813174-->
<!--YUNXUE CHEN 905136-->
<!--ZICHUN ZHU 784145-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cluster and Cloud Computing</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/intro.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
       Cluster and Cloud Computing Project
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%='/dashboard'%>">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Demo Video</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('/img/couldline.png');">
    <div style="height: 300px;"></div>
</header>

<!-- Content section -->
<section class="py-4">
    <div class="container">
        <h1>About This Project</h1>
        <p class="lead">The focus of this project is to explore the Seven Deadly Sins through social media analytics.</p>
        <p> The aim is to determing the 'Gluttony' tweets in australia, and we will compute the distribution among sevral metropolis
            and different states by anlyzing thoes tweets. We can prove our hypothesis by comparing the statistic of Aurin.
        </p>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://picsum.photos/id/252/6400/4200');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Guideline</h1>
        <p class="lead">In this website, you can find....</p>
        <p>The graphical results in <a href="<%='/dashboard'%>">Dashboard</a> page.</p>
        <p>The <a href="#">Demo Video</a> about the demonstration of this system functionalities.</p>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; University of Melbourne 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
